
.main-banner {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;

    .hero-star-container {

        .github-hero {
            margin-right: 0.25rem;
            font-size: 1rem;
        }
    }   
}

